body {
  display: flex;
  flex-direction: column;
  background-color: #9e9e9e;
  text-align: center;
}

nav {
  background-color: #696969;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
}

nav a {
  color: black;
}

input {
  text-align: center;
}

table,
th,
td {
  padding: 0px 10px 0px 10px;
  border: #35343c 1px solid;
}

#inputs,
#calculator {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

#inputs input {
  max-width: 50px;
}
